[Unit]
Description=CodeGen Node.js Server

[Service]
User=root
Group=root
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/ubuntu/PoT-CodeGen/api-docs-product
ExecStart=/usr/bin/node /home/ubuntu/PoT-CodeGen/api-docs-product/index.js

[Install]
WantedBy=multi-user.target